.Work__Section {
  background-color: var(--black-color);
  height: auto;
  width: 36%;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.Work__Area {
    transition: 0.2s ease-in-out;
}

.Work__Shadow{
    /* border: 1px solid red; */
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: context-menu;
}

.Work__Shadow:hover{
    box-shadow: inset 0 0 10px #3b3b3b;
}

.Work__Area{
    margin-top: 20px;
}

.Work__Area:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 30px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.Work__Section h2 {
  padding-bottom: 5px;
  background-color: var(--black-color);
  color: var(--white-color);
  font-weight: 600;
  font-size: 18px;
}

.Work__Company {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    color: var(--text-color);
}

.Work__Company img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.Company__info h3{
    font-size: 18px;
    color: var(--white-color);
    font-weight: 600;
}

.Company__info p {
    font-size: 12px;
}

.Work__info p{
    font-size: 12px;
    color: var(--text-color);
}

.Work__Shadow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ================= RESPONSIVE ================= */
@media (max-width: 1024px) {

    .Work__Section {
        width: 47%;
    }

}

@media (max-width: 950px) {

    .Work__Section {
        width: 47%;
    }

    .Work__info{
        display: none;
    }

}

@media (max-width: 776px) {

    .Work__Section{
      width: 100%!important;
      margin-top: 30px;
    }

}