@import "tailwindcss";

:root {
  --primary-color: #336cff;
  --secondary-color: #739aff;
  --black-color: #232323;
  --white-color: #e9e9e9;
  --text-color: #a8a8a8;
  --border-color: #333333;
  --body-color: #1b1b1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
  padding: 0px 20px;
}

